:root {
  --yellow-100: #ffff77;
  --yellow-200: #f9db4a;
  --yellow-300: #efb810;
  --yellow-400: #d3a007;
  --yellow-500: #b88900;

  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-color: var(--gray-500);
  display: flex;
  flex-direction: row;

  font-family: "Inter", sans-serif;
}

.header {
  width: 14.25rem;

  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
}

.header > img {
  height: 3rem;
}

.principal {
  width: 47.5rem;
  padding: 9rem 5.75rem 0 0;
}

.typed-text {
  height: 20rem;
  font-size: 2rem;
  color: var(--yellow-300);
  font-family: "Inter", sans-serif;
}

.placeholder-textarea {
  width: 100%;
  height: 20rem;
  outline: none;
  resize: none;
  border: none;
  overflow: hidden;
  background: transparent;

  font-size: 2rem;
  line-height: 2.5rem;
}

.placeholder-textarea::placeholder {
  color: var(--yellow-300);
}

.placeholder-textarea:valid {
  color: var(--yellow-300);
}

.alert {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: #f5f5f5;

  gap: 0.5rem;
  padding-top: 3rem;
}

.button-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}

.button-container > button {
  width: 20rem;
  height: 4.2rem;
  border-radius: 24px;

  font-size: 1rem;
}

.button-cripto {
  background: var(--yellow-300);
  color: var(--gray-500);
  border: 1px solid var(--yellow-400);
  transition: background-color 0.2s ease;

  font-style: bold;
}

.button-cripto:hover {
  background: var(--yellow-400);
}

.button-descripto {
  background: var(--yellow-200);
  color: var(--gray-500);
  border: 1px solid var(--yellow-300);

  font-style: bold;

  transition: background-color 0.2s ease;
}

.button-descripto:hover {
  background: var(--yellow-300);
}

.result-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 32px;
  box-shadow: 0 0 2px white;

  margin: 2.5rem 2.5rem 2.5rem 2.5rem;
  padding: 1rem 2rem;
  background: var(--gray-300);
  min-height: 37rem;
  min-width: 28rem;
  height: auto;
  width: auto;
}

#resultImage {
  width: 28rem;
  height: auto;
  border-radius: 16px;
  overflow: hidden;
}

.result-area-text > h2 {
  padding-top: 1.5rem;

  font-size: 1.5rem;
  color: var(--gray-500);
}

.result-area-text > h3 {
  padding-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--gray-500);

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.result-area-text > p {
  padding-top: 1rem;

  font-size: 1rem;
  color: var(--gray-500);
}

@media screen and (max-width: 1500px) {
  header {
    padding-left: 3rem;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 85%;
  }
  body {
    flex-direction: column;
    margin: 1rem;
    padding: 1.5rem;
  }

  .typed-text {
    height: 20rem;
    width: auto;
    font-size: 1.5rem;
  }

  .header {
    height: auto;
  }

  .principal {
    padding: 2rem 1.5rem 0 1.5rem;
    width: auto;
  }

  .placeholder-textarea {
    min-height: 3rem;
    max-height: 15rem;
    height: auto;
  }

  .button-container {
    flex-direction: column;
    gap: 1rem;
  }

  .button-container > button {
    min-width: 29rem;
    min-height: 4rem;
    width: auto;
    height: auto;
  }

  .result-area {
    margin: 2rem 0;
    padding: 2rem;
    min-height: 15rem;
    height: auto;
    width: auto;
  }

  .result-area > img {
    display: none;
  }

  .result-area-text > h2 {
    font-size: 1.25rem;
  }

  .result-area-text > h3 {
    align-text: justify;
    color: white;
  }

  .result-area-text > p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  body {
    width: auto;
  }
  header {
    padding-left: none;
  }
}
